.header-container{
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 80px 80px;
    width: 100%;
}

.header-container h1{
    font-size: 32px;
    font-weight: bold;
    color: #ff007b;
}




/* media query */

@media (max-width:1000px) {

    .header-container h1{
        font-size: 26px;
    }
}

@media (max-width:800px) {

    .header-container{
        padding: 80px 50px;
    }
    
    .header-container h1{
        font-size: 26px;
    }
}

@media (max-width:600px) {

    .header-container{
        padding: 80px 30px;
    }

}