.header-container{
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 80px 80px;
    width: 100%;
}

.header-container h1{
    font-size: 32px;
    font-weight: bold;
    color: #ff007b;
}